body {
    overflow-x: hidden;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.sidebar {
    position: fixed;
    width: 240px;
    height: 100vh;
    background-color: $c1;
    top: -100vh;
    z-index: 2;
    transition: transform 300ms ease-in;
}



.sidebar-toggle {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 6px;
    top: 100%;
    background-color: rgba(0, 146, 206, 1);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    outline: 0;
    box-shadow: 
        inset 4px -14px 8px rgba(255, 255, 255, .2),
        inset -4px -6px 8px rgba(255, 255, 255, .2),
        $tinShadow;
    cursor: pointer;
    transition: margin-left 300ms linear;
    transition-delay: 400ms;

    &:hover,
    &:focus {
        background-color: rgb(0, 132, 184);
    }

    &:active {
        background-color: rgb(0, 118, 165);
    }
}

.sidebar-toggle::after,
.sidebar-toggle::before {
    content: '';
    position: absolute;
    width: 34px;
    height: 6px;
    background-color: rgb(230, 230, 230);
    top: 12px;
    transition: all 600ms ease-in;
}

.sidebar-toggle::after {
    left: 8px;
    transform: rotate(20deg);
    border-radius: 4px 0 0 4px;
}

.sidebar-toggle::before {
    right: 8px;
    transform: rotate(-20deg);
    border-radius: 0 4px 4px 0;
    box-shadow: none;
}

.brand {
    padding: 1em;
    @include displayFlex(space-around, center);
    background-color: $c2;
    position: absolute;
    top: 40px;
    box-shadow: none;
    transition: all 300ms linear;
    transition-delay: 400ms;
}

.brand-logo {
    width: 25%;
    border-radius: 50%;
    box-shadow: $tinShadow;
    transition: all 300ms linear;
    transition-delay: 400ms;
}

.brand-title,
.brand-subtitle {
    color: $c3;
    margin: 0;
    text-align: center;
    text-shadow: $tinShadow;
    transition: all 300ms linear;
    transition-delay: 400ms;
}

.brand-title {
    font-family: $oxanium;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.brand-subtitle {
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.sidebar-nav {
    position: absolute;
    top: 144px;
    width: 100%;
    display: none;
}

.sidebar-nav .nav-items {
    margin: 0;
    padding: 0 4px;
}

.sidebar-nav .nav-items .nav-item {
    list-style: none;
    opacity: 0;
    margin: 4px;
}

.sidebar-nav .nav-items .nav-item .nav-link {
    color: $light;
    line-height: 2.2rem;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;

    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, .2);
    }

    &:active {
        background-color: rgba(0, 0, 0, .1);
    }
}

.sidebar-nav .nav-items .nav-item .nav-link .link-icon {
    margin: 0 4px 0 12px;
}

.sidebar.open .sidebar-nav {
    display: block;
}

.sidebar.open {
    transform: translateY(100%);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
}

.sidebar.open .sidebar-toggle {
    top: 0;
    margin-left: 76px;
    background-color: rgba(255, 255, 255, .3);

    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, .2);
    }

    &:active {
        background-color: rgba(255, 255, 255, .1);
    }
}

.sidebar.open .sidebar-toggle::after,
.sidebar.open .sidebar-toggle::before {
    top: 10px;
}

.sidebar.open .sidebar-toggle::after {
    transform: rotate(-20deg);
}

.sidebar.open .sidebar-toggle::before {
    transform: rotate(20deg);
}

.sidebar.open .brand {
    transform: translate(10%, 10%);
    box-shadow: $shadow;
}

.sidebar.open > .brand > .brand-logo {
    box-shadow: $shadow;
}

.sidebar.open > .brand .brand-title,
.sidebar.open > .brand .brand-subtitle {
    text-shadow: $darkShadow;
}


@media screen and (min-width: 770px) {
    .sidebar {
        left: -240px;
        top: 0;
    }
    
    .sidebar-toggle {
        top: 0;
        left: 260px;
        transition: left 400ms;
        transition-delay: 400ms;
    }

    .sidebar-toggle::after,
    .sidebar-toggle::before {
        transition: all 300ms linear;
    }

    .sidebar-toggle::before {
        top: 4px;
        right: 24px;
        transform: rotate(45deg);
        border-radius: 0;
        width: 14px;
        height: 14px;
        background-color: transparent;
        border-top: 6px solid rgb(230, 230, 230);
        border-right: 6px solid rgb(230, 230, 230);
        border-radius: 4px;
    }

    .sidebar-toggle::after {
        top: 11px;
        height: 6px;
        width: 28px;
        transform: rotate(0deg);
        left: 24px;
        border-radius: 4px;
    }

    .sidebar.open {
        transform: translateX(100%);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
    }
    
    .sidebar.open .sidebar-toggle {
        top: 0;
        left: 15px;
        margin-left: 65px;
        
        background-color: rgba(255, 255, 255, .3);
    
        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, .2);
        }
    
        &:active {
            background-color: rgba(255, 255, 255, .1);
        }
    }
    
    .sidebar.open .sidebar-toggle::after {
        top: 11px;
        left: 28px;
        transform: rotate(0deg);
    }
    
    .sidebar.open .sidebar-toggle::before {
        transform: scaleX(-1) rotate(45deg);
        right: 35px;
        top: 4px;
        background-color: transparent;
        border-top: 6px solid;
        border-right: 6px solid;
        border-color: rgb(230, 230, 230);
    }
}