@import './variables';
@import './mixin';

html {
    font-family: $firaSansCondensed;
}

body {
    margin: 0;
}

@import './sidebar';
@import './navbar';
@import './ui_elements';

main {
    height: 200vh;
}

@import './keyframes';